# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
# .git # needed for git describe
.gitignore
.dockerignore
.env
.vscode
README.md
Dockerfile

# Artifacts that will be built during image creation.
.quasar
dist
node_modules
